@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --text-color: #EAEAEA;
    --background-color: #1E1E1E;
    --container-color: #2B2B2B;
    --button-text-color: #1E1E1E;
    --button-background-color: #36C2CE;
    --active-button-background-color: #36C2CE;
    --active-button-text-color: #1E1E1E;
    --highlight-color: #36C2CE;
    --input-border-color: #03DAC6;
    --tasks-list-background-color: #3C3C3C;
    --divider-color: rgba(176, 176, 176, 0.72);
    --placeholder-color: #999999;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

.image-effect {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.container {
    width: 70vw;
    height: 90vh;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: var(--container-color);
}

.timer-container {
    text-align: center;
    flex-basis: 50%;
}

.timer-container button {
    color: var(--button-text-color);
    background: var(--button-background-color);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.timer-container .modality {
    font-size: 1.125rem;
    padding: 0 14px;
    height: 41px;
    margin: 0 0 15px 18px;
}

.active-button {
    background-color: var(--active-button-background-color) !important;
    color: var(--active-button-text-color) !important;
}

.timer-container p {
    font-size: 6.25rem;
    font-weight: bold;
    margin: 30px 0;
    color: var(--text-color);
}

.timer-container .start {
    background-color: var(--button-background-color);
    font-size: 1.625rem;
    text-transform: uppercase;
    width: 200px;
    height: 55px;
    box-shadow: 0 2.5px rgba(0, 0, 0, 0.5);
    color: var(--button-text-color);
}

.tasks {
    flex-basis: 50%;
    text-align: center;
}

.tasks h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: var(--highlight-color);
}

.tasks form input {
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--input-border-color);
    width: 350px;
    outline: none;
    padding: 15px 15px 5px;
    font-size: 1rem;
}

.tasks form input::placeholder {
    color: var(--placeholder-color);
}

.tasks form button {
    background: var(--input-border-color);
    border: none;
    border-radius: 100%;
    height: 16px;
    width: 16px;
    font-size: 0.938rem;
    font-weight: bold;
    margin-left: -36px;
    cursor: pointer;
}

.tasks-list {
    display: flex;
    background: var(--tasks-list-background-color);
    border-radius: 5px;
    width: 386px;
    height: 403px;
    margin: 0 auto;
    margin-top: 28px;
    text-align: left;
}

.tasks-list ol {
    margin: 18px;
    width: 100%;
    overflow: auto;
}

.tasks-list ol li {
    width: 75%;
    margin: 0 36px;
    padding: 10px 18px 6px 6px;
    color: var(--text-color);
}

.divider-task {
    border: 1px solid var(--divider-color);
}

.tasks-list ol::-webkit-scrollbar {
    visibility: hidden;
}

.tasks-list .task-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tasks-list .task-container:not(:last-child) {
    border: 1px solid var(--placeholder-color);
}

.delete-button img {
    width: 25px;
    height: 25px;
}

.tasks-list .task-container button {
    border: none;
    background: transparent;
    cursor: pointer;
}